/*=========��ע�˵�===========*/
div#bottommenu{
margin: 0;
padding:0;
border: 0;
height: 28px;
color:#ddd;
font-size:14px;line-height:28px;
text-align:left;
}


div#bottommenu a:link,div#bottommenu a:visited,div#bottommenu a:active{
margin:0px 10px 0px 10px;
color:#ddd;
font-size:14px;line-height:28px;
text-decoration: none;
}

div#bottommenu a:hover{
color:#FFCC00;
font-size:14px;line-height:28px;
text-decoration: underline;
}
