.wunewsquery{
	font-family: Microsoft YaHei; overflow: hidden;position: relative;
}
.wunewsquery li{position: relative; margin-bottom: 20px;
    padding-bottom: 20px; height: 150px;
    border-bottom: 1px dotted #cccccc;}
.wunewsquery .img{position: absolute;}
.wunewsquery .con{
	margin-left: 260px;
}
.wunewsquery a{text-decoration: none;}
.wunewsquery .title{padding-top: 5px; padding-bottom: 5px;}
.wunewsquery .title a{ 
    font-size: 18px; color: #555555;line-height:32px;
}
.wunewsquery .title a:hover{color:#0C4DA1;}
.wunewsquery .title .cat{color:#555555; margin-right: 10px;}
.wunewsquery .time{color: #555555;}
.wunewsquery .memo{color: #777777; font-size: 14px;line-height:32px; padding-top: 3px;}

/* ============翻页============== */

div#showpages {
clear:both;
padding:0px;
margin:20px 0px;
width:100%;
height:30px;
white-space: nowrap; overflow: hidden;
}

div#pagesinfo {
float:left;
padding:3px 8px;
white-space: nowrap;
}

div#pages {
float:right;
padding-right:8px;
white-space: nowrap;
}

div#pages ul{
margin:0;
padding:0;
}

div#pages a:link,div#pages a:visited,div#pages a:active{
color:#505050;
text-decoration: none;
}

div#pages a:hover{
color:#ff0000;
text-decoration: none;
}

div#pages li{
margin:3px;
padding:2px 5px;
list-style-type: none;
float:left;
background:#fff;
color:#505050;
border:1px #cde6ff solid;
white-space: nowrap;
}

div#pages li.pagesnow{
color:#505050;
background-color:#e4f2ff;
white-space: nowrap;
border:1px #cde6ff solid;
}

div#pages li.pbutton{
color:#505050;
background-color:#e4f2ff;
padding:3px 5px 1px 5px;
white-space: nowrap;
border:1px #cde6ff solid;
}

div#pages li.opt{
color:#505050;
padding:0px 2px;
white-space: nowrap;
border:0px;
}